@import "mobile/mobile";

// Globals definitions
body {
  font-family: 'Open Sans', sans-serif  !important;
  color: #373737;
}

hr {
  margin-top: 4rem;
  border-top: 1px solid #dcdcdc;
}
p {
  font-weight: 300;
  line-height: 23px;
}
a {
  color: #745387;
  &:hover{
    color: darken(#745387, 2)
  }
}


// navbar
.navbar-new {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 2rem 0;

  .navbar-nav {
    .nav-link {
      color: #ffffffbd;
      margin-right: 5rem;

      &:hover, &:active, &:focus {
        color:#FD8D59
      }
    }
  }
  .navbar-brand {
    font-size: 1.75rem;
    text-transform: initial !important;
  }

  &.active {
    background-color: #704e84f5;
    color: #fff;
  }
}

// Components
.main-call {
  min-height: 650px;
  width: 100%;
  padding-top: 0;
  background: url("../../images/lp_afeto_01.jpg") no-repeat center;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
    
    
    .title-work {
      font-size: 32px;
      letter-spacing: 22.9px;
      display: block;
      color: #363636;
      text-align: center;
      text-transform: uppercase;
      margin-top: 2rem;
    }
    .title-oafeto {
      font-family: 'ludicrous-regular' !important;
      font-size: 100px;
      line-height: 0.75;
      letter-spacing: -2px;
      color: #363636;
      margin: 0.8rem 0 2rem 0;
    }
    .date {
      display: block;
      font-size: 20px;
      line-height: 1.25;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
}


.main-banner {
  min-height: 400px;
  margin-top: 7rem;
  background: url(../../images/lp_afeto_02.jpg) no-repeat;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  h2 {
    font-size: 49px;

  }
}


.staff-image {
  img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 350px;
  }
  figcaption {
    font-size: 14px;
    color: #4f4f4f;
    margin: 0.8rem 0 0.2rem 0rem;
    .title {
      font-size: 18px;
      font-weight: 700;
      color: #7b63a2;
    }
    .btn {
      border-radius: 14px;
      background-color: #fd8d5e;
      font-size: 14px;
      border: none;
      padding: 0.3rem 1.5rem;
      &:active,&:hover,&:focus {
        background: #f9763e !important;
      }
    }
  }
}

.timer-banner {
  background: -webkit-gradient(linear, left top, right top, from(#7b63a2), to(#8a689d));
  background: linear-gradient(to right, #7b63a2, #8a689d);
  margin-top: 7rem;
  margin-bottom: 0;
  text-align: center;

  .inner-title {
    margin: 1rem 0;
  }

  .date-time {
    font-size: 5.62rem;
    font-weight: 800;
    color: #c5afea;
    span {
      display: block;
      font-size: 1.56rem;
      font-weight: 300;
      color: #fff;
    }
  }
}

.partners-index {
  img {
    width: 155px;
  }
}
.partner-inter {
 margin-bottom: 6rem;
 ul, ol {
  padding-left: 1rem;
  font-weight: 300;
  line-height: 23px;
 }
}


.footer {
  background-color: #ededed;
  padding: 2rem 0;
  ul.nav .nav-link {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.47;
    color: #363636;
    text-transform: uppercase;
    
    &:first-child {
      padding-left: 0;
    }
    i {
      font-size: 2rem;
      color: #7b63a2
    }
  }
}

// Address in home
.hostel-address {
  text-align: center;
  margin-top: 1.5rem;
  color: #8a689d !important;
  font-weight: 300;
  span {
    font-weight: 700;
  }
}

// Helper classes
.font-ludicrous {
  font-family: 'ludicrous-regular' !important;
}



// Text classes
.paragraph-sp {
  font-weight: 300;
  font-size: 1.12em;
  line-height: 23px;
}
.special-titles {
  font-weight: 300;
  color: #745387;
  letter-spacing: -1px;
}
.paragraph-discount {
  font-weight: 700;
  font-size: 0.8rem;
}

.inner-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #8a689d;
  padding-bottom: 1rem;
  margin: 3rem 0;
  
  &.white {
    color: #fff;
  }

}


// Buttons
.btn.btn-call{
  border-radius: 30px;
  background-color: #89679b;
  text-transform: uppercase;
  border: none;
  font-size: 1.12rem;
  padding: 0.6rem 5rem;
  margin: 2rem 2rem 0.8rem;
  color: #fff;

  &:active,&:hover,&:focus {
    background: #704e84 !important;
  }

  &.orage {
    background-color: #fd8d5e;

    &:active,&:hover,&:focus {
      background: #f9763e !important;
    }
  }
}
.btn.btn-ticket {
  border: solid 2px #FD8D59;
  color: #FD8D59;
  border-radius: 25px;
  min-width: 150px;
  &:hover {
    background: #FD8D59;
    color: #fff;
  }
}
.btn.btn-more{
  border-radius: 14px;
  background-color: #fd8d5e;
  color: #fff;
}