extends ./templates/template-interno.pug
block  nav
  +nav-interna("parceiros.html", true)
block content
  section.container
    h2.inner-title Parceiros
    article.row.partner
      .col-md-5
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.0620403487974!2d-41.88454015532636!3d-22.75505128404386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x965574d839878f%3A0x4d1b1a7ee33a3559!2sPousada+%C3%81guas+Claras+B%C3%BAzios!5e0!3m2!1spt-BR!2sbr!4v1527865063186" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Pousada Águas Claras (Centro)
        p Período de 31 de agosto á 2 de setembro de 2018. Quais são a opções disponíveis de acomodações:  SGL / DBL / TPL

        h4.special-titles Valores da diária no período para o evento:
        p 1. Classic (standard)  apartamento duplo  tem o valor em quarto duplo de R$ 283,00 + Taxa Opcional R$ 3,00 por dia. 

        p Acima desse numero de pessoas (duplo) e/ou crianças favor consultar o a Águas Claras. Oferecem late check out no domingo (2) até as 14 horas.

        p O que incluí:  Café da manhã / estacionamento / chá da tarde
        
        p E-mail: reservas@aguasclarasbuzios.com
        p Tel.: 22 2623 0115 / 22 26230116 / 22 2623 0117
        p Website: 
          a(href="http://www.aguasclarasbuzios.com" target="_target") www.aguasclarasbuzios.com
        p Facebook: 
          a(href="http://www.facebook.com/pousadaaguasclarasembuzios" target="_target")           www.facebook.com/pousadaaguasclarasembuzios.

    article.row.partner
      .col-md-5
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.557786135631!2d-41.877897949236534!3d-22.74467223775181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9655a927142719%3A0xb2d1975729fa2cf7!2sPousada+Hibiscus+Beach!5e0!3m2!1spt-BR!2sbr!4v1527876554602" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Pousada Hibiscus Beach (Joao Fernandes)
        p Período de 31 de agosto á 2 de setembro de 2018.Quais são a opções disponíveis de acomodações: 12 Bangalôs com vista ao Mar Duplos e 1 Flat com vista ao Mar.

        h4.special-titles Valores da diária no período para o evento:
        p 1. Bangalô tem o valor em duplo e/ou para duas pessoas de R$ 298,00
        p 1. Flat tem o valor em duplo e/ou para duas pessoas de R$ 507,00. (comporta até 4 pessoas) 

        p O que incluí: Café da manha, piscina, toalhas para praia, estacionamento gratuito (sob disponibilidade) 

        p O que incluí:  Café da manhã / estacionamento / chá da tarde
        
        p E-mail: reservas@hibiscusbeach.com.br 
        p Tel.:(22) 2623-6221 WhatsApp: 22 99851-6779
        p Website: 
          a(href="http://www.hibiscusbeach.com" target="_target") www.hibiscusbeach.com
        p Facebook: 
          a(href="http://www.facebook.com/pousada-hibiscus-beach" target="_target")               www.facebook.com/pousada-hibiscus-beach.   

    article.row.partner
      .col-md-5
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.380763168451!2d-41.88492084923658!3d-22.751246537986475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96550bc9fd5dd1%3A0x3f905566900ceb75!2sAuberge+de+La+Langouste+Hotel!5e0!3m2!1spt-BR!2sbr!4v1527876587180" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Auberge de la Langouste (Centro)
        p Período de 31 de agosto á 1º de setembro de 2018. Quais são a opções disponíveis de acomodações: STANDARD  e  SUPERIOR

        h4.special-titles Valores das acomodações no Evento:
        p Standard tem o valor em apartamento duplo e/ou para duas pessoas de R$ 350,00
        p Superior tem o valor em duplo e/ou para duas pessoas de R$ 380,00

        p Acima desse numero de pessoas (duplo) e/ou crianças favor consultar o a Auberge de La Langouste. Oferecem late check out no domingo.  

        p O que incluí:  Café da manhã
        
        p E-mail: info@aubergedelalangouste.com.br 
        p Tel.:(22) 2623-1273
        p WhatsApp: (22) 98813-8132
        p Website: 
          a(href="http://www.aubergedelalangouste.com.br" target="_target") www.aubergedelalangouste.com.br
        p Facebook: 
          a(href="http://www.facebook.com/AubergedelaLangouste" target="_target")               www.facebook.com/AubergedelaLangouste.          
              
block footer
  include ./includes/footer.pug