extends ./templates/template-interno.pug
block  nav
  +nav-interna("parceiros.html", true)
block content
  section.container
    h2.inner-title Parceiros
    article.row.partner
      .col-md-5
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.0620403487974!2d-41.88454015532636!3d-22.75505128404386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x965574d839878f%3A0x4d1b1a7ee33a3559!2sPousada+%C3%81guas+Claras+B%C3%BAzios!5e0!3m2!1spt-BR!2sbr!4v1527865063186" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Pousada Águas Claras (Centro)
        p Período de 31 de agosto á 2 de setembro de 2018. Quais são a opções disponíveis de acomodações:  SGL / DBL / TPL

        h4.special-titles Valores da diária no período para o evento:
        p 1. Classic (standard)  apartamento duplo  tem o valor em quarto duplo de R$ 283,00 + Taxa Opcional R$ 3,00 por dia. 

        p Acima desse numero de pessoas (duplo) e/ou crianças favor consultar o a Águas Claras. Oferecem late check out no domingo (2) até as 14 horas.

        p O que incluí:  Café da manhã / estacionamento / chá da tarde
        
        p E-mail: reservas@aguasclarasbuzios.com
        p Tel.: 22 2623 0115 / 22 26230116 / 22 2623 0117
        p Website: 
          a(href="http://www.aguasclarasbuzios.com" target="_target") www.aguasclarasbuzios.com
        p Facebook: 
          a(href="http://www.facebook.com/pousadaaguasclarasembuzios" target="_target")           www.facebook.com/pousadaaguasclarasembuzios.

    article.row.partner
      .col-md-5
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.557786135631!2d-41.877897949236534!3d-22.74467223775181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9655a927142719%3A0xb2d1975729fa2cf7!2sPousada+Hibiscus+Beach!5e0!3m2!1spt-BR!2sbr!4v1527876554602" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Pousada Hibiscus Beach (Joao Fernandes)
        p Período de 31 de agosto á 2 de setembro de 2018.Quais são a opções disponíveis de acomodações: 12 Bangalôs com vista ao Mar Duplos e 1 Flat com vista ao Mar.

        h4.special-titles Valores da diária no período para o evento:
        p 1. Bangalô tem o valor em duplo e/ou para duas pessoas de R$ 298,00
        p 1. Flat tem o valor em duplo e/ou para duas pessoas de R$ 507,00. (comporta até 4 pessoas) 

        p O que incluí: Café da manha, piscina, toalhas para praia, estacionamento gratuito (sob disponibilidade) 

        p O que incluí:  Café da manhã / estacionamento / chá da tarde
        
        p E-mail: reservas@hibiscusbeach.com.br 
        p Tel.:(22) 2623-6221 WhatsApp: 22 99851-6779
        p Website: 
          a(href="http://www.hibiscusbeach.com" target="_target") www.hibiscusbeach.com
        p Facebook: 
          a(href="http://www.facebook.com/pousada-hibiscus-beach" target="_target")               www.facebook.com/pousada-hibiscus-beach.   

    article.row.partner
      .col-md-5
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.380763168451!2d-41.88492084923658!3d-22.751246537986475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96550bc9fd5dd1%3A0x3f905566900ceb75!2sAuberge+de+La+Langouste+Hotel!5e0!3m2!1spt-BR!2sbr!4v1527876587180" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Auberge de la Langouste (Centro)
        p Período de 31 de agosto á 1º de setembro de 2018. Quais são a opções disponíveis de acomodações: STANDARD  e  SUPERIOR

        h4.special-titles Valores das acomodações no Evento:
        p Standard tem o valor em apartamento duplo e/ou para duas pessoas de R$ 350,00
        p Superior tem o valor em duplo e/ou para duas pessoas de R$ 380,00

        p Acima desse numero de pessoas (duplo) e/ou crianças favor consultar o a Auberge de La Langouste. Oferecem late check out no domingo.  

        p O que incluí:  Café da manhã
        
        p E-mail: info@aubergedelalangouste.com.br 
        p Tel.:(22) 2623-1273
        p WhatsApp: (22) 98813-8132
        p Website: 
          a(href="http://www.aubergedelalangouste.com.br" target="_target") www.aubergedelalangouste.com.br
        p Facebook: 
          a(href="http://www.facebook.com/AubergedelaLangouste" target="_target")               www.facebook.com/AubergedelaLangouste.          
    article.row.partner
      .col-md-5
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d578.124871006157!2d-41.883391166095684!3d-22.752188963433163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96550b0e7a7ef3%3A0x3663c831dbebcf3!2sR.+Alto+Do+Humaita%2C+14+-+Centro%2C+B%C3%BAzios+-+RJ%2C+28950-000!5e0!3m2!1spt-BR!2sbr!4v1527885403782" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Pousada dos Búzios (Centro)
        p Período de 31 de agosto á 1º de setembro de 2018. Quais são a opções disponíveis de acomodações: Stamdard e Luxo com Jacuzzi Visa Jardim

        h4.special-titles Valores das acomodações no Evento:
        p Standard tem o valor em duplo e/ou para duas pessoas de R$ 293,00 cobram T.S. 10%
        p Luxo tem o valor em duplo e/ou para duas pessoas de R$ 334,00 cobram T.S. 10%

        p Acima desse numero de pessoas (duplo) e/ou crianças favor consultar o a Pousada dos Búzios.  

        p O que incluí: Café da manhã. Check-In: 13 horas Check-Out: 12 horas
        
        p E-mail: reservas@dosbuzios.com.br
        p Tel.:22-26236060
        p WhatsApp: 22- 98823-1003
        p Website: 
          a(href="http://www.pousadadosbuzios.com.br" target="_target") www.pousadadosbuzios.com.br
        p Facebook: 
          a(href="http://www.facebook.com/pousadadosbuzios" target="_target")               www.facebook.com/pousadadosbuzios.                
    article.row.partner
      .col-md-5
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.3622133834233!2d-41.88582794923644!3d-22.75193533801106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96550bb64210b7%3A0xb9de36321c9d46bb!2sPousada+Byblos!5e0!3m2!1spt-BR!2sbr!4v1527885839134" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Pousada Byblos (Centro)
        p Período de 31 de agosto á 1º de setembro de 2018. Quais são a opções disponíveis de acomodações: Standard e Vista Mar

        h4.special-titles Valores das acomodações no Evento:
        p Standard tem o valor em duplo e/ou para duas pessoas de R$ 355,00 + T.S. 10%
        p Vista Mar tem o valor em duplo e/ou para duas pessoas de R$ 469,00 + T.S. 10%

        p Acima desse numero de pessoas (duplo) e/ou crianças favor consultar a Byblos.

        p O que incluí: Café da manhã. Informações: Check-In: 13 horas Check-Out: 12 horas
        
        p E-mail: byblos@byblos.com.br
        p Tel.:22-26236060
        p WhatsApp: 22- 98823-1003
        p Website: 
          a(href="http://www.pousadabyblos.com.br" target="_target") www.pousadabyblos.com.br
        p Facebook: 
          a(href="http://www.facebook.com/byblospousada" target="_target")               www.facebook.com/byblospousada.                      
    article.row.partner
      .col-md-5
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.880840020434!2d-41.88137004923612!3d-22.76980303864905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x97040b5444ad33%3A0x374567cf3f1c7e3d!2sPousada+Pedra+da+Laguna!5e0!3m2!1spt-BR!2sbr!4v1527885517522" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Pedra da Laguna Pousada & SPA (Ferradura)
        p Período de 31 de agosto a 1º de setembro de 2018. Quais são a opções disponíveis de acomodações: Standard e Luxo

        h4.special-titles Valores das acomodações no Evento:
        p Standard tem a diária o valor em duplo e/ou para duas pessoas de R$ 510,00 + 5% taxa
        p Luxo tem á diaria o valor em duplo e/ou para duas pessoas de R$ 550,00 + 5% taxa

        p Acima desse numero de pessoas (duplo) e/ou crianças favor consultar a Pedra da Laguna. Oferecem late check out no domingo.

        p O que incluí: Café da manhã, Internet Wifi, 15 min de massagem cortesia por apartamento. Check-in a partir das 14 horas e Check-out até às 12 horas.
        
        p E-mail: reservas@pedradalaguna.com.br
        p Tel.:(22) 2623-1965
        p WhatsApp: (22) 98142-6131
        p Website: 
          a(href="http://www.pedradalaguna.com.br" target="_target") www.pedradalaguna.com.br
        p Facebook: 
          a(href="http://facebook.com/pedradalaguna" target="_target")               facebook.com/pedradalaguna.                            
    article.row.partner
      .col-md-5
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.959149484613!2d-41.88932524923619!3d-22.766897238545333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96557b93d790a3%3A0xec5e88afbd53f52b!2sFerradura+Hotel!5e0!3m2!1spt-BR!2sbr!4v1527885713018" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Ferradura Resort (Ferradura)
        p Período de 31 de agosto a 1º de setembro de 2018. Quais são a opções disponíveis de acomodações: Ala 1 e Ala2

        h4.special-titles Valores das acomodações no Evento:
        p Ala 1- ala da recepção
        p Apto Standard: 02 adultos: Pacote de 02 diárias: R$ 911,20 + 10% taxa de serviço = R$ 1.002,32 (café da manhã)
        p Apto Standard: 02 adultos: Pacote de 02 diárias: R$ 1.149,20 + 10% taxa de serviço = R$ 1.264,12 (café da manhã e jantar)
        p Apto Standard: 02 adultos: Pacote de 02 diárias: R$ 1.387,20 + 10% taxa de serviço = R$ 1.525,92 (café da manhã, almoço e jantar)
        p Apto Luxo (Com hidromassagem): 02 adultos: Pacote de 02 diárias: R$ 1.018,30 + 10% taxa de serviço = R$ 1.120,13 (café da manhã)
        p Apto Luxo (Com hidromassagem): 02 adultos: Pacote de 02 diárias: R$ 1.256,30 + 10% taxa de serviço = R$ 1.381,93 (café da manhã e jantar)
        p Apto Luxo (Com hidromassagem): 02 adultos: Pacote de 02 diárias: R$ 1.494,30 + 10% taxa de serviço = R$ 1.643,73 (café da manhã, almoço e jantar)
        br
        p Ala 2- ala do restaurante
        p Apto Super Luxo: 02 adultos: Pacote de 02 diárias: R$ 1.125,40 + 10% taxa de serviço = R$ 1.237,94 (café da manhã)
        p Apto Super Luxo: 02 adultos: Pacote de 02 diárias: R$ 1.363,40 + 10% taxa de serviço = R$ 1.499,74 (café da manhã e jantar)
        p Apto Super Luxo: 02 adultos: Pacote de 02 diárias: R$ 1.601,40 + 10% taxa de serviço = R$ 1.761,54 (café da manhã, almoço e jantar)
        p Apto Suíte Resort (Com hidromassagem): 02 adultos: Pacote de 02 diárias: R$ 1.234,20 + 10% taxa de serviço = R$ 1.357,62 (café da manhã)
        p Apto Suíte Resort (Com hidromassagem): 02 adultos: Pacote de 02 diárias: R$ 1.472,20 + 10% taxa de serviço = R$ 1.619,42 (café da manhã e jantar)
        p Apto Suíte Resort (Com hidromassagem): 02 adultos: Pacote de 02 diárias: R$ 1.710,20 + 10% taxa de serviço = R$ 1.881,22 (café da manhã, almoço e jantar)
          | 1.Apto Suíte Vip (Com hidromassagem): 02 adultos: Pacote de 02 diárias: R$ 1.341,30 + 10% taxa de serviço = R$ 1.475,43 (café da manhã)
        br
        p  Apto Suíte Vip (Com hidromassagem): 02 adultos: Pacote de 02 diárias: R$ 1.579,30 + 10% taxa de serviço = R$ 1.737,23 (café da manhã e jantar)

        p Apto Suíte Vip (Com hidromassagem): 02 adultos: Pacote de 02 diárias: R$ 1.817,30 + 10% taxa de serviço = R$ 1.999,03 (café da manhã, almoço e jantar)

        p Apto Suíte Ferradura (Com hidromassagem para 02 pessoas): 02 adultos: Pacote de 02 diárias: R$ 1.494,30 + 10% taxa de serviço = R$ 1.643,73 (café da manhã)

        p Apto Suíte Ferradura (Com hidromassagem para 02 pessoas): 02 adultos: Pacote de 02 diárias: R$ 1.732,30 + 10% taxa de serviço = R$ 1.905,53 (café da manhã e jantar)

        p Apto Suíte Ferradura (Com hidromassagem para 02 pessoas): 02 adultos: Pacote de 02 diárias: R$ 1.970,30 + 10% taxa de serviço = R$ 2.167,33 (café da manhã, almoço e jantar)

        p Observação: períodos com late check-out até às 14 horas.
        
        p E-mail: rservas2@ferradurahotel.com.br
        p Tel.:(22) 2623-2398 / RJ: 0800 282 8222 / Brasil: 0800 703 0325
    article.row.partner
      .col-md-5
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.6591679417875!2d-41.91534414923586!3d-22.77802663894293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96ffe5b616ef2d%3A0x92b2e1ce11d1ad76!2sPousada+Marbella!5e0!3m2!1spt-BR!2sbr!4v1527885739606" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Pousada Marbella (Geribá)
        p Período de 31 de agosto á 1º de setembro de 2018.
        p Quais são a opções disponíveis de acomodações: Suíte Marbella e Suíte Marbella Inn

        h4.special-titles Valores das acomodações no Evento:
        p Suíte Marbella tem o valor em duplo e/ou para duas pessoas de R$ 500,00 (o período)
        p Suíte Marbella Inn tem o valor em duplo e/ou para duas pessoas de R$ 400,00 (o período)

        p Acima desse numero de pessoas (duplo) e/ou crianças favor consultar o Pousada Marbella, e late check out no domingo.

        p O que incluí: Hospedagem de duas (2) noites e Café da Manhã.
        
        p E-mail: reservas@pousadamarbella.com.br
        p Tel.: 22 2623-6020
        p WhatsApp: 22 988444-4714
        p Website: 
          a(href="http://www.pousadamarbella.com.br" target="_target") www.pousadamarbella.com.br
        p Facebook: 
          a(href="http://www.facebook.com/PousadaMarbella" target="_target")               www.facebook.com/PousadaMarbella.                
    article.row.partner
      .col-md-5
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3704.957234009912!2d-41.882679155171985!3d-22.751822606967092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96550a7007be7f%3A0xdaa8452281c623f5!2sVenturini+Viagens!5e0!3m2!1spt-BR!2sbr!4v1527885773580" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      .col-md-7
        h2.special-titles Venturini Viagens

        p E-mail: passeio@venturiniviagens.com.br
        p Tel.: (22) 2623-5268/ 2623-6187
        p PREÇOS: ARRAIAL: 130,00 RIO: 220,00
        p Contratando o pacote 2 serviços
        p Desconto de 15%
block footer
  include ./includes/footer.pug