footer.footer
  .container-fluid 
    .row
      .col-md-8
        h3.font-ludicrous O afeto que habita em nós!
        ul.nav
          li.nav-item
            a(href="http://" class="nav-link") O evento
          li.nav-item
            a(href="http://" class="nav-link") Palestrantes
          li.nav-item
            a(href="http://" class="nav-link") Blog
          li.nav-item
            a(href="http://" class="nav-link") Contato
      .col-md-4
        ul.nav.d-flex.justify-content-end
          li.nav-item
            a(href="https://www.facebook.com/oafetoquehabitaemnos/" class="nav-link") <i class="fab fa-facebook"></i>
          li.nav-item
            a(href="https://www.instagram.com/oafetoquehabitaemnos/)" class="nav-link") <i class="fab fa-instagram"></i>
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
  script(src="dev/src/scripts/application.js")