mixin nav(activeUrl, second)
  //- navegação 
  header.header
    .container
      nav.navbar.navbar-dark.navbar-expand-lg.navbar-new(class={active: second === true })
        a.navbar-brand.d-lg-none.d-sm-block.font-ludicrous O afeto que habita em nós!
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mx-lg-auto.mr-lg-5
            -
              var currentUrl = activeUrl
              var menuItems = [
                { name: "O evento", href: "index.html" },
                { name: "Palestrantes", href: "palestrantes.html" },
                { name: "Onde se Hospedar", href: "parceiros.html" },
              ]
            each url in menuItems
              li.nav-item(class={active: currentUrl === url.href})
                a.nav-link(href=url.href) #{url.name}

            li.nav-item
              a.btn.btn-outline.btn-ticket(href='https://www.eventbrite.com.br/e/o-afeto-que-habita-em-nos-registration-42867258123' target="_blank") Ingressos    