@media only screen and (max-width: 992px) {
  .header {
    background-color: #704e84f5;
    color: #fff; }
    .header .navbar-new {
      text-align: center;
      padding: 1rem 0; }
      .header .navbar-new a.nav-link {
        margin-right: 0; }
      .header .navbar-new .navbar-brand {
        font-size: 1.1rem; }
      .header .navbar-new .btn-ticket {
        width: 100%; } }
